<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Register for the site')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <h1>Register for the site</h1>
    <form action="/users/create" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" class="form-control" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
        </div>
        <div class="form-group">
            <label for="password_confirm">Confirm your password: </label>
            <input type="password" name="password_confirm" class="form-control" id="password_confirm"/>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
        </div>
        <input class="btn btn-primary" type="submit" value="Register"/>
        <input type="hidden" th:attr="name=${_csrf.parameterName}, value=${_csrf.token}"/>
    </form>
</div>
</body>
</html>