<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Roll Dice</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
</body>
<h1>Roll Dice game</h1>
<p>Select a number from the list below. If you match the System's pick, you win.</p>
<ul>
    <li><a href="/rolldice/1">1</a></li>
    <li><a href="/rolldice/2">2</a></li>
    <li><a href="/rolldice/3">3</a></li>
    <li><a href="/rolldice/4">4</a></li>
    <li><a href="/rolldice/5">5</a></li>
    <li><a href="/rolldice/6">6</a></li>
</ul>
</html>